html, body {
    height: 100vh;
}

main {
    height: 85%;
    font-family: monospace;
    background-color: burlywood;
}

.gridRow {
    display: flex;
}

.block {
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 5px;
    background-color: white;
    background-size: cover;
}

.hidden {
    background-color: rgb(202, 202, 202);
}

.flag {
    background: url("https://st.depositphotos.com/12141488/52819/v/450/depositphotos_528192978-stock-illustration-vector-flag-marker-icon-illustration.jpg");
    background-size: cover;
}

.red-font {
    color: red;
}

.beginner-block-size {
    height: 50px;
}

.intermediate-block-size {
    height: 40px;
}

.expert-block-size {
    height: 40px;
}