html, body {
    height: 100vh;
}

main {
    height: 85%;
    font-family: monospace;
    background-color: burlywood;
}

.gridRow {
    display: flex;
}

.block {
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    user-select: none;
}

.hidden {
    background-color: rgb(202, 202, 202);
}

.flag {
    background: url("https://play-lh.googleusercontent.com/S1h8A8cR9s1aLOkFwZJjPRaB4HG6DEWwEUOn_x4olAg-d45vTbt65GkJWYyozANaahM");
    background-size: cover;
}

.bomb {
    background: url("https://m.media-amazon.com/images/I/61V2cX4JqGL.png");
    background-size: cover;
}

.red-font {
    color: red;
}

.red-background {
    background-color: red;
}

.beginner-block-size {
    height: calc(100vh/15);
    font-size: 2rem;
}

.intermediate-block-size {
    height: calc(100vh/25);
    font-size: 1.5rem;
}

.expert-block-size {
    height: calc(100vh/25);
    font-size: 1.5rem;
}